runs/S1465_MSA/snapshots/
runs/S1465_ESM2/snapshots/
runs/S1465_ProstT5/snapshots/
runs/S157479_MSA/snapshots/
runs/S3730_MSA/snapshots/
runs/S3730_MSA_2DGX/snapshots/

runs/S1465_ESM2/results/
runs/S1465_MSA/results/
runs/S1465_ProstT5/results/
runs/S157479_MSA/results/
runs/S3730_MSA/results/
runs/S3730_MSA_2DGX/results/

PLM4Muts_venv/

*.error
*.out
*.pt
*.diffs
*.log
*.png
*.ipynb
